table{
    width: 500px;
    height: 525px;
    border:  1px solid black;
    border-collapse: collapse;
    margin: 5% auto;
}
th{
    background-color:hsl(210deg 68% 31%);
    border: 1px solid black;
    font-weight:bold;
    padding: 3.5% 2.5%;
}
tr{
    border: 1px solid black;
    padding: 3.5%;
}
td{
    border: 1px solid black;
    padding: 3.5%;
    text-align: center;
}
input[type="text"]{
    background-color: hsl(34deg 78% 91%);
    width: 96%;
    height: 50%;
    font-size: 100%;
}

.td{
    text-align: left;
    position: relative;
    left: 2.5%;
}
